/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* utilities */
  
  /* content */

  #generator-btn{
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    background-color: aqua;
    cursor: pointer;
  }

  #grid{
    display: flex;
    flex-wrap: wrap;

  }

  .cells{
    border: 2px solid black;
    width: calc(100% / 10 );
    background-color: coral;
    height: 50px;
    
  }